{% set u = frappe.session.user %}
{% set is_logged_in = u and u != 'Guest' %}
{% set full_name = frappe.db.get_value("User", u, "full_name") if is_logged_in else "" %}
{% set initials = ((full_name or "U").split(" ")|map("first")|list|join(""))[:2]|upper %}
<div class="pc-topbar">
  {% if is_logged_in %}
    <a class="pc-user" href="/delivery/me" title="My orders">
      <span class="av">{{ initials }}</span>
      <span><span class="nm">{{ full_name }}</span><span class="ch">My account</span></span>
    </a>
    <a class="pc-iconbtn" href="/api/method/logout" title="Log out"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
  {% else %}
    <span class="pc-top-note"><i class="fa-regular fa-circle-user"></i> Browsing as a guest</span>
    <a class="pc-login" href="/login?redirect-to=/delivery"><i class="fa-solid fa-arrow-right-to-bracket"></i> Log in</a>
  {% endif %}
</div>
